@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* BG COLORES */
    --bg: #C18FCF;
    --background: #825090;
    --rose: #F80494;
    --roseb: #F058B2;
    --grey: #625A5F;
    --violet: #6B307C;

    /* TEXT COLORES  */
    --text-white: #f3f4f6;
    --text-w: #EED8F5;
    --text-grey: #8A8585;
    --text-black: #050100;
    --text-rose: #F80494;
    --text-yellow: #E0F31D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

header {
    background: linear-gradient(to top, #E3C1EE, var(--bg));
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0px 30px;
    position: fixed; /*para poder dejarlo fijo y scrolear */
    top: 0;
    z-index: 1;

}

.logo {
    height: 90%;
}


.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar-list a {
    color: black;
    font-size: 15px;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none;
}

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px; /*recomendacion para que no estire mas de 1200px*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 35px;
    width: 80%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #281B2C, #C10EBB);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

.hero-info p {
    max-width: 350px;
    color: var(--text-w hite);
    font-size: 14px;
    text-align: center;
}

.button {
    display: flex;
    gap: 15px;
}

.hero-info a
{
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

.primary-bt {
    color: var(--text-w);
    background-color: var(--bg);
}

.secondary-bt {
    color: var(--bg);
    background-color: var(--text-w);
}

.hero-card {
    width: 350px;
    background: var(--bg);
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 750px;
    text-align: center;
    padding: 30 px 0 px;
    font-weight: 300px;
}

#info {
    padding: 70px 20px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.info h2 {
    font-size: 32px;
    font-weight: 600;
}



.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    width: 280px;
    height: 270px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--violet);
    gap: 20px;
    border-radius: 10px;
}

.info-card img {
    width: 30px;
}

.info-card h3 {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-black); 
}

.info-card p {
    font-size: 14px;
    font-weight: 300;
    
}

#contact {
    padding: 50px 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color:#EED8F5;
    gap: 10px;
    
}

.black-bg{
    background-color: var(--violet);
}
.info-contact 
{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.info-contact h4 {
    font-weight: 200;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.container a {
    color: var(--text-black);
}

footer {
    color: var(--text-black);
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    font-size: 20px;
}












@media (max-width:992px) {
    .hero-info {
        text-align: center;
        width: 90%;
        align-items: center;
    }

    .hero-info h1 {
        display: block;
        width: 100%;
    }

    .hero-info p {
        max-width: 80%;
        font-size: 16px;

    }
    .button {
        justify-content: center;
    }
    .hero-card {
        display: none;
    }
    #about {
        font-size: 14px;
    }

    #contact {
        flex-direction: column;
        align-items: center;
    }

    .info-contact {
        gap: 20px;
    }

    .info-contact h4 {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .navbar ul {
        background-color: white;
        width: 100%;
        height: calc(100vh - 65px);
        position: absolute;
        top: 65px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    }
    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        transform: translateX(0%);
        transition: all 0.4s ease-in;

    }

    .hero-info p {
        max-width: 100%;
    }

    .container {
        flex-direction: column;
        text-align: center;
        gap:50px;
    }
    
    inframe {
        height: 300px;
        width: 100%;
    }
}